<div style = "margin-bottom: 51px;">
<div class="row" ng-controller = "MasterCtrl">
         <div class="col-md-7">
            <!-- <h2>WebCast Video</h2>
            <div class="embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" src="/home/twinkle/Videos/f6699522.mp4"></iframe>
            </div> -->
         </div>
         <div class="col-md-5 forms" ng-show = "formfirst">
            <h2>Form</h2>
            <form role="form">
               <div class = "row">
                  <div class="form-group col-md-6">
                     <label for="usr">FIrst Name:</label>
                     <input type="text"  class="form-control" ng-model="formData.firstname" placeholder="Enter firstname">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="usr">Last Name:</label>
                     <input type="text" class="form-control" ng-model="formData.lastname" placeholder="Enter lastname">
                  </div>
               </div>
               <div class="form-group">
                  <label for="usr">Mobile Number:</label>
                  <input type="number" class="form-control" ng-model="formData.number" placeholder="Enter Number">
               </div>
               <div class="form-group">
                  <label for="usr">Email:</label>
                  <input type="email" class="form-control" ng-model="formData.email" placeholder="Enter email">
               </div>
               <div class="form-group">
                  <label for="usr">Password:</label>
                  <input type="password" class="form-control" ng-model="formData.password" placeholder="Enter password">
               </div>
               <div class="form-group">
                  <label for="usr">Confirm Password:</label>
                  <input type="password" class="form-control" ng-model="formData.Cpassword" placeholder="Confirm your password">
               </div>
               <div class="btn-group">
			       <!--  <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
			        <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label> -->
			        <label class="btn btn-primary" ng-click = "submitForm()">Submit</label>
			    </div>
            </form>
         </div>
         <div class="col-md-5 forms" ng-show = "formsecond">
            <h2>Next</h2>
            <form role="form">
               <div class = "row">
                  <div class="form-group col-md-6">
                     <label for="usr">Educational Details</label>
                     <input type="text"  class="form-control" ng-model="registerData.collegeDetails" placeholder="college">
                  </div>
                  <div class="form-group col-md-6">
                     <label for="usr"></label>
                     <input type="text" class="form-control" ng-model="registerData.speciality" placeholder="speciality">
                  </div>
               </div>
               <div class="form-group">
                  <label for="usr">Professional Detials</label>
                  <input type="text" class="form-control" ng-model="registerData.title" placeholder="Current title/practise">
               </div>
               <div class="form-group">
                  <label for="usr"></label>
                  <input type="text" class="form-control" ng-model="registerData.clinic" placeholder="Hospital/clinic">
               </div>
               <div class="form-group">
                  <label for="usr"></label>
                  <input type="password" class="form-control" ng-model="registerData.state" placeholder="state">
               </div>
               <!-- <div class="form-group">
                  <label for="usr">Confirm Password:</label>
                  <input type="password" class="form-control" ng-model="formData.Cpassword" placeholder="Confirm your password">
               </div> -->
               <div class="btn-group">
			       <!--  <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
			        <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label> -->
			        <label class="btn btn-primary" ng-click = "register()">Submit</label>
			    </div>
            </form>
         </div>
      </div>
      <div class="text-center" style="background-image: url(img/fixedBg.jpg);background-repeat: no-repeat;background-position: 0px 0;background-attachment: fixed;padding: 169px 0;background-size: 101% 100%;">
         <div class="toTable">
            <div class="toTable-cell">
               <h2 class="page-heading text-center">Download Mobile App</h2>
               <div class="app-links">
                  <a href=""><img src="img/gPlay.png" alt="emedinexus-logo"></a>
                  <a href=""><img src="img/appStore.png" alt="emedinexus-logo"></a>
               </div>
            </div>
         </div>   
      </div>

      <div class="section-feedback" style = "background: url(img/square-bg.jpg) repeat;">
      <div class="container">
         <div class="row">
            <h2 class="page-heading text-center">Testimonials</h2>
            <div class="col-sm-4">
               <div class="cardView">
                  <div class="cardImg"><!-- <img src="images/projectTwo.jpg"> --></div>
                  <div class="toTable">
                     <div class="cardDetails toTable-cell">
                        <h5 class="block-heading">Jane Doe</h5>
                        <span class="">CEO, Some Companey, LZ</span>
                     </div>
                  </div>
               </div>
               <div class="descp-testmonal">
                  <p>volutpat ea feugait litterarum. decima typi fiant. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="cardView">
                  <div class="cardImg"><!-- <img src="images/projectTwo.jpg"> --></div>
                  <div class="toTable">
                     <div class="cardDetails toTable-cell">
                        <h5 class="block-heading">Jane Doe</h5>
                        <span class="">CEO, Some Companey, LZ</span>
                     </div>
                  </div>
               </div>
               <div class="descp-testmonal">
                  <p>volutpat ea feugait litterarum. decima typi fiant. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="cardView">
                  <div class="cardImg"><!-- <img src="images/projectTwo.jpg"> --></div>
                  <div class="toTable">
                     <div class="cardDetails toTable-cell">
                        <h5 class="block-heading">Jane Doe</h5>
                        <span class="">CEO, Some Companey, LZ</span>
                     </div>
                  </div>
               </div>
               <div class="descp-testmonal">
                  <p>volutpat ea feugait litterarum. decima typi fiant. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="section-media">
      <div class="container">
         <div class="row">
            <h2 class="page-heading text-center">eMediNexus in Media</h2>
            <ul rn-carousel>
               <div class="item"><img src="img/media-one.jpg"></div>
               <div class="item"><img src="img/media-one.jpg"></div>
               <!-- <div class="item text-center"><img src="img/media-one.jpg"></div>
               <div class="item text-center"><img src="img/media-one.jpg"></div> -->
         </div>
      </div>
   </div>

   
</div>
<footer style ="background-color: #eaeae1;">
   <div class="container">
      <div class="row" style = "margin-top: 34px;">
         <div class="col-sm-9">
         <div class="footer-socialLinks">
               <p>For Suggestions drop us a line at <img src="img/mail-oultlined.png" alt="emedinexus-logo">  <a href="">support@emedinexus.com</a></p>
               <h5>Follow Us On</h5>
               <ul class="clearfix">
                  <li><a href="" class="fb" style="background-image: url(img/iconFacebook.png); width: 16px;"></a></li>
                  <li><a href="" class="tw" style="background-image: url(img/iconLinkedin.png);"></a></li>
                  <li><a href="" class="in" style="background-image: url(img/iconTwitter.png);"></a></li>
               </ul>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="app-links text-right">
               <a href=""><img src="img/gPlay.png" alt="emedinexus-logo"></a>
               <a href=""><img src="img/appStore.png" alt="emedinexus-logo"></a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12 text-center cpyryt-txt">
            <span>Copyright 2016 A.N eMediNexus Technologies All Rights Reserved</span>
         </div>
      </div>
   </div>
</footer>