.forms{
	background-color:#d9d9d9;
	height: 483px;
    margin-bottom: 19px;
    /*margin-top: 11px;*/
}

.section-feedback {
	padding-bottom: 30px;
	background: url("img/square-bg.jpg") repeat;
}

.section-feedback .cardView {
	position: relative;
	padding-left: 115px;
}

.page-heading {
	margin: 30px 0;
	line-height: 100%;
}


.section-feedback .toTable {
	display: table;
	min-height: 100px;
}

.section-feedback .cardImg {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	border-radius: 200px;
	background-color: #CCC;
	overflow: hidden;
}

.toTable-cell {
	/*display: table-cell;*/
	vertical-align: middle;
}

.footer-socialLinks h5 {
	color: #666;
	margin-top: 0;
	font-size: 16px;
}

.footer-socialLinks ul li {
	float: left;
	margin-right: 15px;
}

.footer-socialLinks ul li a {
	display: inline-block;
	width: 31px;
	height: 31px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 24px; 
}

.footer-socialLinks ul li a:hover {
	opacity: 0.8;
}

.slidingImage {
   	background-color: #1c1c1c;
}

.navbar-toggle{
	margin-top: 28px;
}

.coverBackground {
	background-repeat: no-repeat;
	background-position: 0px 0;
	background-attachment: fixed;
	padding: 169px 0;
	background-size: 101% 100%;
}

.section-media {
	padding-bottom: 40px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    color:white;
}
.padding-testimonial{
	margin-left: 13px;
}

.text-paragraph{
	color:white;
}
.accent-color{
	color: skyblue;
}


